@use 'styles/variables';

.ellipsisDropdown img {
  cursor: pointer;
  position: relative;
  padding: 0px 12px;
}

.ellipsisDropdown__menu {
  border-radius: 8px;
  border: 1px solid variables.$lightLines;
  position: absolute;
  margin-left: -90px;
  margin-top: 20px;
  padding: 16px;
  background-color: variables.$white;
  z-index: 100;
}

.ellipsisDropdown__button {
  display: block;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 160px;
  text-align: left;
  padding: 8px 0px;
  color: variables.$mediumGrey;

  &--warning {
    color: variables.$red
  }
}