@use 'styles/variables';

.ellipsisDropdown svg {
  cursor: pointer;
  padding: 0px 10px;
}

.ellipsisDropdown__menu {
  border-radius: 8px;
  border: 1px solid var(--border-line-color);
  position: absolute;
  padding: 16px;
  background-color: var(--secondary-bg-color);
  z-index: 100;

  &--Task {
    margin-top: 10px;
    margin-left: -90px;
  }

  &--Board {
    margin-top: 170px;
    margin-left: -140px;
  }
}

.ellipsisDropdown__button {
  display: block;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 160px;
  text-align: left;
  padding: 8px 0px;
  color: var(--secondary-text-color);

  &--warning {
    color: variables.$red
  }
}