@use 'styles/variables';

.board {
  display: flex;
  min-width: fit-content;
}

.board__addNewColumn {
  background-color: var(--newcolumn-bg-color);
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-top: 47px;
  cursor: pointer;
  height: calc(100vh - 200px);
  transition: background-color 0.35s;

  h1 {
    @include variables.headingXl;
    color: var(--secondary-text-color);
  }

  &:hover {
    h1 {
      color: variables.$mainPurple;
    }
  }

}