@use 'styles/variables';

.column {
  min-width: 280px;
  margin-right: 24px;
}

.column__title {
  @include variables.headingS;
  color: var(--secondary-text-color);
  margin: 0px 0px 24px 0px;

  .column__titleColorBall {
    display: inline-block;
    width: 16px;
    // background-color: #FF85B3;
    border-radius: 100%;
    margin-right: 12px;

    &--0 {
      background: #49C4E5;
    }

    &--1 {
      background: #8471F2;
    }

    &--2 {
      background: #67E2AE;
    }

    &--3 {
      background: #FFD966;
    }

    &--4 {
      background: #F25A67;
    }

    &--5 {
      background: #3C9EE7;
    }

    &--6 {
      background: #FF85B3;
    }

  }
}

.column__emptyColumn {
  border: 2px dashed var(--border-line-color);
  border-radius: 8px;
  height: calc(100vh - 200px);
}

.column__tasksList {
  list-style-type: none;
  padding: 0;
}