@use 'styles/variables';

.addAndEdit {
  h1 {
    @include variables.headingL;
    margin: 0px 0px 24px;
  }

  h2 {
    @include variables.bodyM;
    color: var(--secondary-text-color);
    margin: 0px 0px 8px;
  }

  section {
    margin-bottom: 24px;
  }

  section:last-child {
    margin-bottom: 0px;
  }

  input {
    @include variables.input;
  }

  textarea {
    @include variables.textarea;
  }
}

.addAndEdit__input__error {
  border: 1.5px solid variables.$red !important;
}

.addAndEdit__input__errorMessage {
  @include variables.bodyL;
  color: variables.$red;
  white-space: nowrap;
  position: absolute;

  &--titleAndName {
    margin-top: 5px;
    margin-left: -120px;
  }

  &--subtaskAndColumn {
    margin-left: 266px;

    @media (max-width: 767px) {
      margin-left: 146px;
    }
  }
}

.addAndEdit__subtaskWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;

  input {
    margin-right: 16px;
  }

  svg {
    cursor: pointer;
  }
}

.addAndEdit__subtasks__addNewSubTaskButton {
  @include variables.secondaryButton;
  width: 100%;
  height: 40px;
}

.addAndEdit__submitButton {
  @include variables.primaryButtonL;
  width: 100%;
}