@use 'styles/variables';

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  main {
    background-color: variables.$white;
    border-radius: 8px;
    padding: 32px;
  }
}