@use 'styles/variables';

.page {
  overflow: auto;
  height: calc(100vh - 98px);
  flex-grow: 1; 
  padding: 24px;
}

.page__emptyBoard {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: calc(100vh - 98px);

  p {
    @include variables.headingL;
    color: var(--secondary-text-color);
    width: fit-content;
  }

  button {
    @include variables.primaryButtonL;
  }

}